@import url('./__container/header__container.css');
@import url('./__user-email/header__user-email.css');

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 45px 0 33px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  flex-shrink: 0;
}



@media (max-width: 650px) {
  .header {
    padding: 28px 0 27px 15px;
  }
}

@media (max-width: 330px) {
  .header {
    max-width: 100%;
  }
}

