.photo-elements__like {
  width: 21px;
  height: 19px;
  border: none;
  background-color: #ffffff;
  background-image: url('../../../images/like.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.photo-elements__like:hover {
  opacity: 0.6;
}