.profile__info {
  display: grid;
  grid-template-columns: auto 24px;
  align-items: center;
}

@media (max-width: 650px) {
  .profile__info {
    grid-template-columns: auto 18px;
    padding: 14px 0 0 0;
  }
}