.button {
  margin: 0;
  padding: 0;
  height: 22px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #000 ;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.button:hover {
  opacity: 0.6;
}