.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 358px;
}

.form__header {
  margin: 0 auto;
  padding: 60px 0 50px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.form__input {
  margin: 0 0 30px 0;
  padding: 0 0 11px;
  border: none;
  border-bottom: 2px solid #cccccc;
  background-color: #000;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
}

.form__button {
  margin: 186px 0 0 0;
  height: 50px;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s ease-out;
}
.form__button:hover {
  opacity: 0.6;
}

.login__signup {
  display: flex;
  flex-direction: row;
  margin: 15px 0 0;
}

.login__span {
  margin: 0;
}
